PORT=4000
MODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/crypto-trade?schema=public"
DATABASE_URL_DOCKER="postgresql://postgres:postgres@db:5432/crypto-trade?schema=public"